*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    min-height: 100vh;
}
main{
    width:80%;
    margin:auto;
    max-width: 1500px;
    background-color: lightgray;
}
.sor{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    /* border:1px solid black; */
}
.sor > div{
    border:1px solid black;
}
#modosito-urlap{
    display: none;
}
img{
    width:200px;
}
#ingatlanok{
    text-align: center;
}
.erdekel-gomb{
    display:none;
}
@media only screen and (max-width: 800px) {
    main {
        width:97%;
      background-color: lightblue;
    }
    .sor{
        grid-template-columns: 1fr;
        width: 50%;
        min-width: 200px;
    }

    #ingatlanok{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: white;
     
    }
    .gomb-tarolo{
        display:none;
    }
    .hirdetes-datum{
        display:none;
    }
    .hirdetes-nev{
        display:none;
    }
    .hirdetes-allapot{
        display:none;
    }
    .tablehead{
        display:none;
    }
    .erdekel{
        background:blue;
        color:white;
    }
    .erdekel-gomb{
        display:block;
    }
    .erdekel-gomb{
        display:grid;
        place-items: center;
    }
    section{
        display:none;
    }
  }